/* TEMPLATE */
input {
  margin:.5em;
  padding:.2em;
}
textarea {
  margin:.5em;
  padding:.2em;
}

.error{
  background: red;
}

#template_food label{
  width: 150px;
  display: inline-block;
}
#template_event label{
  width: 150px;
  display: inline-block;
}
#templates {
  float: left;
  width: 40%;
}
