<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dia-Schau</title>

    <style>
        #diaschau {
            position: relative;
            width: 700px;
            height: 500px;
        }
        .slide {
            position: absolute;
            display: none;          /* Am Beginn nicht anzeigen */
            left: 0;
            top: 0;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="jquery/jquery-ui.min.js"></script>
    <script src="js/helpers.js"></script>
    <script>
      $( function(){

        var diaSlides = [];

        for (var i = 0; i < localStorage.length; i++){

          var slide = JSON.parse( localStorage.getItem(localStorage.key(i)) );
          diaSlides.push(slide);

         }

         //console.log("Das ist der Key nach dem sortiert werden soll\n");
         var key = "order";
         //console.dir(key);

        diaSlides.sort((a, b) => (a[key] > b[key]) ? 1 : -1);

        //console.log("Das ist das sorterte Object diaSlide : \n");
        //console.dir(diaSlides);

        //console.log("Das ist der storageKey vom ersten Slide : \n");
        var storageKey = diaSlides[0].id;
        //console.dir(storageKey);

        for(let j = 0; j < diaSlides.length; j++){
          console.log("Wir sind in der For loog für die dia show und hier ist das Object diaSlides!\n");
          console.dir(diaSlides);
          var storageKey = diaSlides[j].id;
          console.dir( storageKey );
          var seiten = JSON.parse( localStorage.getItem(storageKey) );
          console.dir(seiten);

          buildDiaSlide(seiten, storageKey);

          if( j === 0 )
            $('#1').css('display', 'block');

        }

        let intervalId = setInterval( diaSchau, 6000 );

        function diaSchau(){
          const slideActive = $('.activeSlide');
          let slideNext;

          slideNext = slideActive.next('div').length ? slideActive.next('div') : $('.slide:first');


          slideActive.fadeOut(1000);
          slideNext.fadeIn(1000);

          slideActive.removeClass('activeSlide');
          slideNext.addClass('activeSlide');
        }

      } );
    </script>

</head>
<body>

<h3>Dia-Schau</h3>

<div id="diaschau">
</div>

</body>
</html>
