<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="jquery/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="jquery/jquery-ui.min.js"></script>
  <script src="js/validateInput.js"></script>

  <script>
  $(function(){
    $('#templates').tabs({
      activate: function(ev, ui){
        // console.log( ui.newTab.find('a').attr('href') );
        let panelId = ui.newPanel.attr('id');
      }

    });

    console.log(localStorage);

    for (var i = 0; i < localStorage.length; i++){
      var offer = JSON.parse( localStorage.getItem(localStorage.key(i)) );
      // function for building slides in preview
      buildSlide(i, offer);
    }


    $('#template_food form').on('submit', function(ev){
      ev.preventDefault();
      console.log("Wir befinden uns im template on submit");

      let val1 = validateInput('title',          'stringAlpha',  'error');
      let val2 = validateInput('description',    'stringAlpha',  'error');
      let val3 = validateInput('price',          'stringNum',    'error');

      var offerID, length, last_offer, last_offerID;
      length = localStorage.length;
      console.log("LocalStorage length :" + length);
      if ( length === 0){
        offerID = 1;
      } else {
        last_offer = evaluateLastOffer();
        console.log ("Last offer : \n");
        console.log(last_offer);
        offerID = last_offer + 1;
        console.log ("offer ID : " + offerID);
      }

      if(val1 && val2 && val3){
        /*let slide;*/
        let offer = {
            id: offerID,
            title: $('#title').val(),
            description: $('#description').val(),
            price: $('#price').val()
        };

        localStorage.setItem(offerID, JSON.stringify(offer) );
        console.log("Die offerID ist :" + offerID);
        console.log('Daten gepeichert');

        var key = evaluateLastOffer();
        console.log("Der Key für das letzte Offer ist : " + key);

        buildSlide(key, offer);

        $('#template_food form').get(0).reset();

        }

      }); // end of template_food submit


  }); // end of onload function

  </script>

</head>
<body>
  <div id="templates">
    <ul>
      <li> <a href="#template_food">Vorlage für Essen</a> </li>
      <li> <a href="#template_event">Vorlage für Event</a> </li>
    </ul>

    <div id="template_food">
      <form name="food" action="?">
        <label for="title">Titel:</label> <input type="text" name="title" id="title" placeholder="Titel"><br>
        <label for="description">Beschreibung:</label> <textarea id="description" rows="5"cols="25" placeholder="Beschreibung"></textarea><br>
        <label for="price">Preis:</label> <input type="text" name="price" id="price" placeholder="Preis"><br>
        <input type="submit" name="submit" value="Seite erstellen">
      </form>
    </div>

    <div id="template_event">
      <form name="event" action="?">
        <label for="title">Titel:</label> <input type="text" name="title" id="title" placeholder="Titel"><br>
        <label for="description">Beschreibung:</label> <textarea id="description" rows="5"cols="25" placeholder="Beschreibung"></textarea><br>
        <label for="date">Datum:</label> <input type="text" name="date" id="date" placeholder="Veranstaltungdatum"><br>
        <input type="submit" name="submit" value="Seite erstellen">
      </form>
    </div>

  </div>

  <div id="preview">
  </div>

</body>
</html>
