<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="css/preview.css">
  <link rel="stylesheet" href="jquery/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="jquery/jquery-ui.min.js"></script>
  <script src="js/helpers.js"></script>
  <script src="js/main.js"></script>

</head>
<body>
  <div id="templates">
    <ul>
      <li> <a href="#template_food">Vorlage für Essen</a> </li>
      <li> <a href="#template_event">Vorlage für Event</a> </li>
    </ul>

    <div id="template_food">
      <form name="food" action="?">
        <label for="title">Titel:</label> <input type="text" name="title" id="title" placeholder="Titel"><br>
  <!--       <label for="title">Titel:</label> <input type="text" name="title" data-title="title" placeholder="Titel"><br> -->
        <label for="description">Beschreibung:</label> <textarea id="description" rows="5"cols="25" placeholder="Beschreibung"></textarea><br>
        <label for="price">Preis:</label> <input type="text" name="price" id="price" placeholder="Preis"><br>
        <label for="image">Bild:</label><input type="file" id="image"><br>
        <img src="" height="200" id="img_prev" alt="Bildvorschau"><br>
        <input type="submit" name="submit" value="Seite erstellen">
      </form>
    </div>

    <div id="template_event">
      <form name="event" action="?">
        <label for="title">Titel:</label> <input type="text" name="title" id="title" placeholder="Titel"><br>
  <!--      <label for="title">Titel:</label> <input type="text" name="title" data-title="title" placeholder="Titel"><br> -->
        <label for="description">Beschreibung:</label> <textarea id="description" rows="5"cols="25" placeholder="Beschreibung"></textarea><br>
        <label for="date">Datum:</label> <input type="text" name="date" id="date" placeholder="Veranstaltungdatum"><br>
        <label for="image">Bild:</label><input type="file" id="image"><br>
        <img src="" height="200" id="img_prev" alt="Bildvorschau"><br>
        <input type="submit" name="submit" value="Seite erstellen">
      </form>
    </div>

  </div>

  <h1 id="prev_header" >Preview</h1>
  <div class="btn_style">
    <button id="btn_save" >Speicher Dia Show</button>
  </div>
  <div id="created_offer" class="drop_zone">Hier ist deine erstellte Seite!</div>

  <div class="btn_style">
    <button id="add_slide" >Slide hinzufügen</button>
    <button id="remove_slide" >Slide entfernen</button>
  </div>

  <div id="preview">
  </div>

</body>
</html>
